@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}

@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f0f0f0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffe999;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffdb70;
}

.headerLink {
  @apply text-primary-110 hover:text-primary-80 !important;
}

.darkGrayLink {
  @apply text-gray-80 hover:text-primary-80 !important;
}

.footerTextLink {
  @apply text-gray-50 hover:text-primary-70 active:text-primary-80 !important;
}

.footerLogoLink {
  @apply text-gray-70 hover:text-primary-70 active:text-primary-80 !important;
}

.ant-table-wrapper .ant-table {
  scrollbar-color: unset !important;

  ::-webkit-scrollbar {
    width: 8px !important ;
    height: 10px !important;
  }

  ::-webkit-scrollbar-track {
    background: #f0f0f0 !important;
  }

  ::-webkit-scrollbar-thumb {
    background: #ffe999 !important;
    border-radius: 5px !important;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #ffdb70 !important;
  }
}
